---
---

@import "{{ site.theme }}";


/* Your css rules goes after this */
.page-header {
    background: #254a7c;
}

#header_wrap, #footer_wrap {
    background: linear-gradient(to bottom, #336699 0%, #0099cc 100%);
}
