---
---

@import "{{ site.theme }}";


/* Your css rules goes after this */
.page-header {
    background: #254a7c;
}

#header_wrap, #footer_wrap {
     background: linear-gradient(to top, #003366 0%, #336699 100%);
}
